@model IEnumerable<ApplicationCore.Domain.Attestation>

@inject ApplicationCore.Interfaces.IServiceEmployees se
@inject ApplicationCore.Interfaces.IServiceFonctionEmployee sfe

@{
    ViewData["Title"] = "UNIVERS-MED - La liste de toutes les attestations";
}

<h4>La liste de toutes les attestations</h4>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer</a>
</p>
<body>
    
<table class="table" id="myTable" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DocumentAttestation)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeAttestation.Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentAttestation)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeAttestation.Type)
                    </td>
            <td>
                    @Html.ActionLink("Modifier", "Edit", new {  id=item.AttestationId  }) |
                        <a href="@Url.Action("DownloadPdf", "Attestation", new { id = item.AttestationId, description = item.Description })" class="btn btn-primary">Télécharger Pdf</a>

                        <a href="@Url.Action("DownloadArabicPdf", "Attestation", new { id = item.AttestationId })" class="btn btn-success">Télécharger Pdf Arabe</a>
                    @Html.ActionLink("Supprimer", "Delete", new {  id=item.AttestationId  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
<style>
    .active {
        background-color: #4CAF50;
        color: white;
        border-radius: 20px; /* Adjust the value to control the roundness */
        padding: 8px 16px; /* Adjust padding for spacing */
        transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
    }

    /* Add a hover effect for the navigation links */
    .nav-link:hover {
        background-color: #eee;
        color: #333;
        border-radius: 20px;
        transition: background-color 0.3s, color 0.3s;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "scrollY": "450px",
            "scrollCollapse": true,
            "paging": true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
            },
        });
    });</script>