@model IEnumerable<ApplicationCore.Domain.TypeAttestation>

@{
    ViewData["Title"] = "Liste des types Attestations";
}

<h1>Liste des types Attestations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un nouveau Type d'Attestation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenu)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id=item.TypeId }) |
                @Html.ActionLink("Supprimer", "Delete", new {  id=item.TypeId })
            </td>
        </tr>
}
    </tbody>
</table>
